
<footer class="text-center text-white" style="background-color: #003366;">
    
    <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
        &copy; 2024 ImportAê.
    </div>
</footer>
