<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Adicionar Produto - ImportAê</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
    <link rel="stylesheet" href="/stylesheets/painel.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
    <%- include('partials/header') %>
    <main class="fade-in container mt-5">
        <div class="row">
            <div class="col-md-3">
                <ul class="nav flex-column nav-pills" id="importerPanel" role="tablist" aria-orientation="vertical">
                    <li class="nav-item">
                        <a class="nav-link" id="minhas-informacoes-tab" href="/painel" role="tab" aria-controls="minhas-informacoes" aria-selected="false">Minhas Informações</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" id="adicionar-produto-tab" href="/adicionarproduto" role="tab" aria-controls="adicionar-produto" aria-selected="true">Adicionar Produto</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="meus-produtos-tab" data-toggle="pill" href="/meusprodutos" role="tab" aria-controls="meus-produtos" aria-selected="false">Meus Produtos</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="meus-pedidos-tab" href="/meuspedidosimportador" role="tab" aria-controls="meus-pedidos" aria-selected="false">Meus Pedidos</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="chat-clientes-tab" href="/painel/chat-clientes" role="tab" aria-controls="chat-clientes" aria-selected="false">Chat com Clientes</a>
                    </li>
                </ul>
            </div>
            <div class="col-md-9">
                <div class="tab-content" id="importerPanelContent">
                    <!-- Adicionar Produto -->
                    <div class="tab-pane fade show active" id="adicionar-produto" role="tabpanel" aria-labelledby="adicionar-produto-tab">
                        <h3>Adicionar Produto</h3>
                        <form>
                            <div class="form-group">
                                <label for="productName">Nome do Produto</label>
                                <input type="text" class="form-control" id="productName" placeholder="Nome do Produto">
                            </div>
                            <div class="form-group">
                                <label for="productPrice">Preço</label>
                                <input type="text" class="form-control" id="productPrice" placeholder="Preço do Produto">
                            </div>
                            <div class="form-group">
                                <label for="productDescription">Descrição</label>
                                <textarea class="form-control" id="productDescription" rows="3" placeholder="Descrição do Produto"></textarea>
                            </div>
                            <div class="form-group">
                                <label for="productCategory">Categoria</label>
                                <select class="form-control" id="productCategory">
                                    <option value="electronics">Eletrônicos</option>
                                    <option value="clothing">Roupas</option>
                                    <option value="accessories">Acessórios</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <label>Imagens do Produto</label>
                                <div class="d-flex">
                                    <div class="image-upload-square">
                                        <label for="productImage1">
                                            <img src="" alt="" class="upload-icon">
                                        </label>
                                        <input type="file" class="form-control-file d-none" id="productImage1" accept="image/*" onchange="previewImage(event, 'preview1')">
                                        <img id="preview1" class="img-preview" src="#" alt="Imagem 1" style="display: none;">
                                    </div>
                                    <div class="image-upload-square">
                                        <label for="productImage2">
                                            <img src="" alt="" class="upload-icon">
                                        </label>
                                        <input type="file" class="form-control-file d-none" id="productImage2" accept="image/*" onchange="previewImage(event, 'preview2')">
                                        <img id="preview2" class="img-preview" src="#" alt="Imagem 2" style="display: none;">
                                    </div>
                                    <div class="image-upload-square">
                                        <label for="productImage3">
                                            <img src="" alt="" class="upload-icon">
                                        </label>
                                        <input type="file" class="form-control-file d-none" id="productImage3" accept="image/*" onchange="previewImage(event, 'preview3')">
                                        <img id="preview3" class="img-preview" src="#" alt="Imagem 3" style="display: none;">
                                    </div>
                                </div>
                            </div>
                            <button type="submit" class="btn btn-primary">Adicionar Produto</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </main>
    <%- include('partials/footer') %>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvvV8AB8If5q4l78CM" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXlNHjR0AyyQp+d6EFx/q28X1Txswg6w+jfXp65XOZV+5ckb8j4i5I+X0oeg" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+dflw6E5iqKuxau6/6L5D1GyTne0IWeC52Bvrpt9CH25R1wEl" crossorigin="anonymous"></script>
    <script src="https://kit.fontawesome.com/a076d05399.js"></script>
    <script>
        function previewImage(event, previewId) {
            const reader = new FileReader();
            reader.onload = function() {
                const output = document.getElementById(previewId);
                output.src = reader.result;
                output.style.display = 'block';
            }
            reader.readAsDataURL(event.target.files[0]);
        }
    </script>
</body>
</html>