/* Estilos específicos para a página de chat */
.chat-window {
    border: 1px solid #ddd;
    border-radius: 5px;
    height: 75vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.chat-header {
    background-color: #f8f9fa;
    border-bottom: 1px solid #ddd;
}

.chat-body {
    flex: 1;
    overflow-y: auto;
    padding: 10px;
}

.message {
    margin-bottom: 15px;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.message.sent {
    align-items: flex-end;
}

.message-content {
    padding: 10px;
    border-radius: 5px;
    display: inline-block;
    max-width: 70%;
}

.message.received .message-content {
    background-color: #e2ffc7;
    text-align: left;
    position: relative;
}

.message.sent .message-content {
    background-color: #f1f1f1;
    text-align: right;
    position: relative;
}

.message-time {
    display: block;
    font-size: 0.8em;
    color: #666;
    margin-top: 5px;
    position: absolute;
    bottom: -20px;
    right: 10px;
}

.message.received .message-time {
    position: absolute;
    bottom: -20px;
    left: 10px;
}

.message.sent .message-time {
    position: absolute;
    bottom: -20px;
    right: 10px;
}

.chat-footer {
    background-color: #f8f9fa;
    border-top: 1px solid #ddd;
    display: flex;
    align-items: center;
}

.chat-footer .form-control {
    flex: 1;
}

.input-group-append {
    display: flex;
    align-items: center;
}

.input-group-append button {
    margin-left: 5px;
}

#customerList .list-group-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap; /* Adiciona flex wrap para evitar que as etiquetas saiam da área do cliente */
}

#customerList .list-group-item .badge {
    margin-right: 4px;
    margin-bottom: 4px;
    white-space: nowrap; /* Garante que o texto dentro da badge não quebre em múltiplas linhas */
}

/* Ajuste dos ícones no chat */
.chat-footer .btn i {
    font-size: 1.2em;
}