/* public/css/painel.css */

  
  .fade-in {
    animation: fadeIn 2s ease-in;
  }
  
  .nav-pills .nav-link.active {
    background-color: #007bff;
  }
  
  .form-group {
    margin-bottom: 1rem;
  }
  
  .btn-primary {
    background-color: #00AEEF;
    border: none;
  }
  
  .btn-primary:hover {
    background-color: #008FCC;
  }
  
  .image-upload-square {
    width: 100px;
    height: 100px;
    border: 2px dashed #007bff;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 10px;
    position: relative;
  }
  
  .upload-icon {
    width: 40px;
    height: 40px;
    cursor: pointer;
  }
  
  .img-preview {
    width: 100px;
    height: 100px;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
  }